:root {
  --primary-color: white;
  --primary-label: black;
  --secondary-label: white;
  --white-ball: white;
  --black-ball: black;
}
body {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#switch {
  inline-size: 0;
  block-size: 0;
  visibility: hidden;
}
label {
  display: block;
  inline-size: 100px;
  block-size: 50px;
  background-color: var(--primary-label);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
label:after {
  content: "";
  inline-size: 40px;
  block-size: 40px;
  border-radius: 70px;
  background-color: var(--white-ball);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.5s;
}
#switch:checked + label:after {
  background-color: var(--black-ball);
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
#switch:checked + label {
  background-color: var(--secondary-label);
}
label:active:after {
  inline-size: 60px;
}
