* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: black;
}
ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 0.5rem 2rem;
  position: relative;
}
a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 2px;
  background: white;
  transform: scale(0);
  transition: all 0.5s;
  transform-origin: left;
}
ul li a:hover:before,
ul li a:hover:after {
  transform: scaleX(1);
}
a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 100%;
  block-size: 2px;
  background: white;
  transform: scale(0);
  transition: all 0.5s;
  transform-origin: right;
}
