body {
  margin: 0;
  background: linear-gradient(#0093e9, #80d0c7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.card {
  position: relative;
  inline-size: 30rem;
  block-size: 30rem;
  background: white;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
}
